#aa{
    border: 2px solid;
    height:75px;
    overflow: scroll;
    
}
#he{
    background-color: rgb(31, 226, 226);height: 20px;
    display:inline;

}
span{
    background-color: rgb(197, 123, 26);
    display:inline;
    
}
p{display: inline;}