#box1{
    width:200px;
    height:200px;
    background-color: aqua;
    position:relative;
    top:100px ;
    left:100px

}
#we{
    width:250px;
    height:250px;
    background-color: aquamarine;
    position:fixed;
    bottom:0px;
    left:0px

}
#hello{width:300px;
height: 300px;
background-color: blueviolet;
position:absolute}