.pagination{
    text-align: center;
}
.pagination a{
    color: black;
    text-decoration: none;
    padding: 8px 15px;
    display: inline;
}
.pagination a.active{
    background-color: chartreuse;
    font-weight: bold;
    border-radius: 6px;
}
.pagination a:hover:not(active){
    background-color: cadetblue;
    border-radius: 6px;
}