#box1{
    width: 250px;
    height: 250px;
    background-color: aquamarine;
    border: 5px solid;
    text-align: center;
    font-size: 13em;
    transform: translate(50%,30px) rotatez(30deg) scale(0.5) skew(30deg)
    
    
}
.box{ width: 250px;
    height: 250px;
    background-color: aquamarine;
    border: 5px solid;
    text-align: center;
    font-size: 13em;
    transform: translate(50%,30px) rotatez(30deg) scale(0.5) skew(30deg)
    
    }
