.dropdown button{
    background-color: rgb(211, 171, 119);
    color: rgb(18, 15, 15);
    padding: 10px 15px;
    border:none;
    cursor: pointer;
}
.dropdown button:hover{
    background-color: rgb(142, 87, 194);
    color: black;
}
.dropdown a{
    display:block;
    color:black;
    text-decoration: none;
    padding:10px 15px
    
}
.dropdown .content{
    background-color: aliceblue;
    position:absolute;
    box-shadow: 2px 2px 5px rgb(53, 51, 51);
    display:none
    
}
.dropdown:hover .content{
    display: block;

}
