*{box-sizing: border-box;}
body{
    margin: 0px;
}



header{
    background-color: rgb(187, 178, 178);
    text-align: center;
    height: 30px;
   
}
.navbar{
    background-color: rgb(32, 30, 30);
    height: 30px;
}
aside{
    width:20%;
    float: left;
    padding: 20px;
    
}
section{
    width:40%;
    float:left;
    padding: 20px;
    
}
article{
   padding: 20px;
}
footer{display: block;
    clear:both;
    height: 40px;
    background-color:rgb(139, 135, 135);
    text-align: center;
    padding:10px;
}
@media screen and (max-width: 600px){
    aside,section,article{
        width:100%
    }

}
    


    



