h1{font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;font-size: 20;font-weight: bolder;font-style: italic;border-style: groove;border-radius: 10px;}
p{font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;font: size 15px;border-left:solid rgb(144, 219, 31);border-right: solid black; }
